
.profile-wrapper {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    height: 200px;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background-size: cover;
    cursor: pointer;
}
.bio-name {
    display: block;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    color: #000;
    font-size: 18px;
    line-height: 24px; 
}