#layout{
    display:inline-flex;
   
    flex-direction: row;
    padding: 5px;
    flex-wrap: wrap;
}
.caja{
    
    font-size: 20px;
    font-weight: "Century";
 
   
    padding: 20px;
    margin:10px;
   
    

}