.card .card-body .houndon {
transition: all 0.3s ease;
opacity: 0;
max-height:40px;
}
.card:hover .card-body .houndon {
   opacity: 1;
   background-position: -120px;
   transition: all 600ms;
}
a:link, a:visited, a:active {
    text-decoration:none;
   
}
.card{
    background-color: skyblue!important;
}

@media screen and (max-width:740px) {
    .card .card-body .houndon {
        transition: all 0.3s ease;
        opacity: 1;
        max-height:40px;
        }
}
.caja2  a{
    color:black;
}