@font-face {
    font-family: "Century";
    src: url("fonts/CENTURY.ttf");
    font-weight: normal;
    font-style: normal;     
}
@font-face {
    font-family: "bebas";
    src: url("fonts/BebasNeue-Regular.ttf");
    font-weight: normal;
    font-style: normal;     
}
@font-face {
    font-family: Montserrat-Regular;
    src: url('fonts/Montserrat-Regular.ttf'); 
  }
  
  @font-face {
    font-family: Montserrat-Bold;
    src: url('fonts/Montserrat-Bold.ttf'); 
  }
  
  @font-face {
    font-family: Montserrat-ExtraBold;
    src: url('fonts/Montserrat-ExtraBold.ttf'); 
  }
  
  @font-face {
    font-family: Montserrat-Medium;
    src: url('fonts/Montserrat-Medium.ttf'); 
  }

  @font-face {
    font-family: Roboto;
    src: url('fonts/Roboto-light.ttf'); 
  }
  
  