footer{
   
    width:100%;
   
   
}

.espaciado{
    margin-top: 14%;
}
.footer-grid{
    /*definiendo el grid layout*/
background-color: #1B1D1E;
color: skyblue ;
width:100%;
padding:10px;
margin:5px ;
font-family: Century;
display: grid;
grid-template-columns: repeat(2,1fr);
grid-template-rows:  1fr;
grid-gap: 10px;

}
 .link .skyblue{
    color:skyblue ;
}
.footer-grid img{
 margin-right: 10px;
}

.footer-grid ul li a{
    text-decoration: none;
}
.footer-grid ul li{
list-style: none;
}
#network{
color: skyblue;
}

@media screen and (max-width:740px) {
    .footer-grid{
        /*definiendo el grid layout*/
    background-color: #1B1D1E;
    
    width:100%;
    padding:4px;
    margin:1px ;
    display: grid;
    text-align: center;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: 1fr 1fr;
    grid-gap: 5px;
    
    }
}

