
#carouselExampleIndicators{
    max-height: 650px;
    overflow: hidden;
}

#carouselExampleIndicators img{
    height:650px;
}
*{
    font-size:Century !important;
}
#content{
    width:85%;
    min-height: auto;
    margin:0px auto;
  
}
.bebas{
    font-family: "bebas";
    text-transform: uppercase;
}
#espaciado{
    
}
#centrado{
   
    width: 80%;
    margin: 0 auto;
    margin-top:10px;
}
#clearfix{
    clear: both;
    float: none ;
}
.centrado{
    justify-content: center;
  }
body{
    height:100;
}
#contenido{
    width: 80%;
    margin: 0px auto;
    margin-top:20px;
    margin-left: 7%;
    margin-bottom: 2%;
}
#oculto {
    visibility: hidden;
}
footer{
    align-self: flex-end;
    color: #999;
    background: #242424;
}
.wrapper{
    display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-gap: 10px;
  background-color: #fff;
  color: #444;
}
.box {
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
  }
.caja1{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
   
    margin-top: 2%;

}
.center-text{
    text-align: center;
}
.category{
    margin-left: 2%;
    margin-right: 1%;
 
    width:3%;
}
.gallery{
    
    width:90%;
}

.sub-menu li{
    display:inline-block;
    margin-right: 3px;
}
.texto-vertical {
    writing-mode: vertical-lr;
    text-transform: uppercase;
}
.cajamarca{

    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: space-between;
    flex-basis: 100%;
    width:100%;
   
}
.elementoimg{

}
#social{
    padding-top:4px;
}
.caja2{
   
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 2%;
    margin-bottom:2%;  
    left:1%;


}
#centerimg {
    display: flex;
    flex-wrap: wrap;
   margin-top: 1%;
   margin-left:20%;
   
}
.card{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-bottom: 5px;
    transition: all 300ms;
    max-height: 460px;
    margin-right: 3px;
}
.card:hover {
    transform: scale(1.1);
  }

.tree{
    margin-top: 1%;
    margin-left: 4%;
    margin-right: 2%;
    width:88%;  
}
.first{
margin-left: 4%;
margin-right: 2%;
width:40%;
}
.image-background_nuestra_compania{
    font-family: 'Century','Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image: url("../media/Color_WEB.jpg");
    background-repeat: no-repeat;
    
}
.image-background_nuestra_cultura{
    font-family: 'Century','Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image: url("../media/Color_WEB.jpg");
    background-repeat: no-repeat;
    
}
.image-background_soluciones_inicial{
    font-family: 'Century','Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image: url("../media/Soluciones_inicial.jpg");
    background-repeat: no-repeat;
    
}
.image-background_ingenieria_inicial{
    font-family: 'Century','Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image: url("../media/Color_WEB.jpg");
    background-repeat: no-repeat;
    
}
.text-right{
}
.text-left{
text-align: left;
}
.text-center{
    text-align: center;

}
.text-left{
    margin-right: 1%;
    width:40%;
    }
.second{
 margin-left: 2%;
width:40%
}
#grises img {
    filter: url('#grayscale'); /* Versión SVG para IE10, Chrome 17, FF3.5, Safari 5.2 and Opera 11.6 */
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%); /* Para cuando es estándar funcione en todos */
    filter: Gray(); /* IE4-8 and 9 */
    
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    }
    #grises img:hover {
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    -o-filter: grayscale(0%);
    filter: none;
    
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
@media screen and (max-width:740px) {
    .caja1{
        flex-direction: column;
    }
    .caja2{
        flex-direction: column;
    }
   
    .first{
        width: 100%;
    }
    .second{
        width: 100%;
    }
    #centerimg{
        max-width:50%;
        max-height:50%;
    }
    .centrado{
        align-items: center;
    }
    .card{
        margin-left:10%;
    }
    .image-background_soluciones_inicial{
        font-family: 'Century','Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        background-image: url("../media/Color_WEB.jpg");
    }
}