<form method="post">
	<input type="hidden" name=" csrf_token"  value="{{csrf_token()}}">
	<div class="form-group col-md-6 mt-2">
		<label>Nombre</label>
		<input type="text" id="nombre" name="nombre" class="form-control" placeholder="Nombre">
	</div>
	<div class="form-group col-md-6 mt-2">
		<label>Email</label>
		<input type="email" id="email" name="email" class="form-control" placeholder="email">
	</div>
	<div class="form-group">
		  <div class="md-form mt-2">
			<textarea type="text" id="message" name="message" rows="2" class="form-control md-textarea"></textarea>
			<label for="message">tu mensaje</label>
		</div>
		<input type="submit" class="btn btn-primary" />
	</div>
		
	</div>
	
</form>