<footer>
<div class="footer-grid">
    <div class="caja 1">
        <img src="../static/media/logo.png" width="200" height="60"/>
        <p></p>
          <h6 class="m-lg-2">C. del Chopo, 76, 50171 La Puebla de Alfindén, Zaragoza</h6>
        <p></p>
        <h6 class="m-lg-2">contacto  : infobecalplus@becalplus.es </h6>
        <p></p>
        <h6 class="m-lg-2"> telefono : 976 10 89 56 </h6>
        <div id="network">
          <a  href="https://www.linkedin.com/feed/update/urn:li:activity:6839487687662030848/">
      <img src="../static/media/linkdn.png" width="25" height="25" />
          </a>
          <a href="" class="text-white me-4">
            <i class="fab fa-linkedin"></i>
          </a>
      </div>

    </div>
    <div>
        <div class="caja 1">
        <div id="oculto">
        <img src="../static/media/logo.png" width="120" height="60" />
        </div>
        </div>
        <h6 class="m-lg-2"><a class=" link skyblue" href="{{url_for('soluciones')}}">Soluciones</a></h6>
        <p></p>
        <a  class="link skyblue" href="{{url_for('quienSomos')}}">Quienes somos</a>
        <p></p>
        <a class="link skyblue" href="{{url_for('uneteEmpresa')}}">Únete a nuestro equipo</a>
        <ul>
        
         
          
        
       
    </div>

  
</div>
</footer>