<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a  href="{{url_for('inicio')}}">  <img src="../static/media/logo.png" width="200" height="60" /></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <strong>Soluciones</strong>
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="{{url_for('soluciones')}}#producto">producto</a></li>
            <li><a class="dropdown-item" href="{{url_for('soluciones')}}#ingeneria">ingeneria</a></li>
            <li><a class="dropdown-item" href="{{url_for('soluciones')}}#montaje">Instalación de equipos</a></li>      
          </ul>
        
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <strong>Ingeniería</strong>
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="#">Fabricación </a></li>
            <li><a class="dropdown-item" href="#">Montajes</a></li>
            <li><a class="dropdown-item" href="#">Instalación de equipos</a></li>
            <li><a class="dropdown-item" href="#">Mantenimiento</a></li>
            <li><a class="dropdown-item" href="#">Eficiencia energética</a></li>
            <li><a class="dropdown-item" href="#">Innovación</a></li>          
          </ul>
        
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{{url_for('quienSomos')}}"><strong>Quienes somos</strong></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('uneteEmpresa')}}"><strong>Únete a nuestro equipo</strong></a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
    
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('uneteEmpresa')}}">Cliente</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('uneteEmpresa')}}">Provedores</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="{{url_for('novedades')}}">Novedades</a>
        </li>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <ion-icon name="search-outline"></ion-icon>
        </form>
        <li>
        <div id="social">
        <a  href="https://es.linkedin.com/in/rodolfo-esteban-jimenez-081979136?trk=public_post_share-update_actor-text">
          <img src="../static/media/linkdn.png" width="25" height="25" />
              </a>
            </div>
      </li>
    </ul>
    </div>
  </div>
</nav>