<div
  id="carouselExampleIndicators"
  class="carousel slide"
  data-bs-ride="carousel"
>
  <div class="carousel-indicators">
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="0"
      class="active"
      aria-current="true"
      aria-label="Slide 1"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="1"
      aria-label="Slide 2"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="2"
      aria-label="Slide 3"
    ></button>
    <button
    type="button"
    data-bs-target="#carouselExampleIndicators"
    data-bs-slide-to="3"
    aria-label="Slide 4"
  ></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../static/media/coches.gif" class="d-block w-100 h-53" />
    </div>
    <div class="carousel-item">
      <img src="../static/media/slider_2.jpg" class="d-block w-100 h-53" />
    </div>
    <div class="carousel-item">
      <img src="../static/media/slider_3.jpg" class="d-block w-100 h-53" />
    </div>
    <div class="carousel-item">
      <img src="../static/media/slider_4.jpg" class="d-block w-100 h-53" />
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleIndicators"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleIndicators"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
