<div class="carousel-inner">
  <div class="carousel-item active"> <img src="images/Desayuno hotel presentacion.jpg" alt="Desayuno del hotel" width="1010" height="500"> </div>
  <div class="carousel-item"> <img src="images/Exteriores nocturno ppio presentacion.jpg" alt="Exteriores con vistas a principe pio en la noche" width="1010" height="500"> </div>
  <div class="carousel-item"> <img src="images/Exteriores presentacion.jpg" alt="Exteriores del hotel en el dia" width="1010" height="500"> </div>
</div>