{%extends 'layout2.html' %}

<title>{%block title %}
Productos
{%endblock %}</title>

{%block content %}
<div id="clearfix"></div>
<div id="contenido">
    {%if producto%}
    <h3>editar producto</h3>
    {%else%}
    <h3>crear producto</h3>
    {%endif%}
    <form class="form-group" action="" method="post" enctype="multipart/form-data">
      <input type="hidden" name=" csrf_token"  value="{{csrf_token()}}">
        <label for="nombre">nombre</label>
        <input type="text" name="producto" {%if producto%} value="{{producto.1}}" {%endif%}/>
        <p>
        <label for="surname">descripción</label>
        <p>
          <textarea name="descripcion" rows="10" cols="20" >{%if producto%} {{producto.3}} {%endif%}</textarea>
        <p>
            <p>
                <label >precio</label>
                <p>
            <input id="balloons" type="number" name="balloons"  min="0" {%if producto%} value="{{producto.4}}" {%endif%} />
            <p>
         <input type="file" id="imagen" name="imagen" accept=".jpg .png"{%if producto%} value="{{"../static/media/logo.png"}}" {%endif%} required>
        <button type="submit" class="btn btn-success">Enviar</button>
      </form>
   </div>
    {% endblock %}