{%extends 'layout2.html' %}

<title>{%block title %}
Noticias
{%endblock %}</title>

{%block content %}
<div id="clearfix"></div>
<div id="contenido">
    {%if noticia%}
    <h3>editar noticias</h3>
    {%else%}
    <h3>crear noticia</h3>
    {%endif%}
    <form class="form-group" action="" method="post" enctype="multipart/form-data">
      <input type="hidden" name=" csrf_token"  value="{{csrf_token()}}">
        <label for="nombre">titulo</label>
        <input type="text" name="titulo" {%if noticia%} value="{{noticia.1}}" {%endif%}/>
        <p>
        <label for="surname">descripción</label>
        <p>
          <textarea name="resumen" id="resumen" rows="10" cols="20" onpaste="contarcaracteres();" onkeyup="contarcaracteres();">{%if noticia%} {{noticia.5}} {%endif%}</textarea>
          <p>
            <div id="res2"></div>
            <label for="surname">cuerpo de la noticia</label>
            <p>
        <textarea name="cuerpo" id="cuerpo" rows="10" cols="30"  onpaste="contarcaracteres();" onkeyup="contarcaracteres();">{%if noticia%} {{noticia.2}} {%endif%}</textarea>
        <p>
          
          <div id="res"></div>
         <input type="file" id="imagen" name="imagen" accept=".jpg .png"{%if noticia%} value="{{"../static/media/logo.png"}}" {%endif%} required>
        <button type="submit" class="btn btn-success">Enviar</button>
      </form>
   </div>
   <script type="text/javascript" src="../static/js/contador.js"></script>
    {% endblock %}