{%extends 'layout.html' %}

<title>{%block title %}
Prudcto detalle
{%endblock %}</title>
{%block link %}
<link
      rel="stylesheet"
      href="{{url_for('static',filename='css/backend.css')}}"
    />
{%endblock %}
{%block content %}
<div class="caja 1">

    <section id="layout">
    <div class="caja">
    
     
        <img  src="../static/pictures/news/{{producto.2}}"  class="card-img-top"  alt="Card image" height="30%" width="30%" />  
        <div class="card-body">
           
          <h5 class="card-title">{{producto.1}}</h5>
          <p >{{producto.3}}</p>
          {{producto.4}}
          <p>
   
        </div>
      </div>
    
    </section>
    </div>
   
    {% endblock %}