{%extends 'layout.html' %}

<title>{%block title %}
Noticias
{%endblock %}</title>
{%block link %}
<link
      rel="stylesheet"
      href="{{url_for('static',filename='css/backend.css')}}"
    />
{%endblock %}
{%block content %}
<div class="caja1 centrado">

    <section id="layout">
    <div class="caja centrado">
    
     
        <img  src="../static/pictures/news/{{noticia.4}}"  class="card-img-top"  alt="Card image" height="500" width="800" />  
        <div class="card-body">
           
          <h3 class="bebas center-text ">{{noticia.1}}</h3>
          <p  class="text-muted">
          {{noticia.5}}
        </p>
          <p>
            {{noticia.2}}
        </div>
      </div>
    
    </section>
    </div>
   
    {% endblock %}