<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    {#librerias de bootstrap #}
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <!-- JavaScript Bundle with Popper -->

    {#AOS libreria #}
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />

    {#css de estilo generales#}
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='css/header.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='css/contac.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='css/linkheader.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='css/general.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='css/footer.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='css/navbar.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='css/fonts.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='css/link.css')}}"
    />
    {#para que se apdate mejor el responsive#}
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
  </head>
  <title>{%block title%} Becalplus {%endblock%}</title>

  <body>
    {%block navBar%} {%include 'includes/navbar.html'%} {%include
    'includes/slider.html'%} {% endblock %} {%block content %}
    <div id="clearfix"></div>

    <div id="content">
      <div data-aos="fade-up" data-aos-duration="1500">
        <div class="caja1 centrado">
          <div class="caja1 first">
            <div class="image-background">
              <h3>Nuestra compañía</h3>
              <p>
                Una empresa que nace de la experiencia de sus fundadores en el
                mundo industrial, nos avalan diferentes de proyectos realizados
                en todo tipo de sectores e industria
              </p>
            </div>
          </div>

          <div class="caja1 second">
            <div class="image-background">
              <div>
                <h3>Nuestra cultura</h3>
                <p>
                  Nuestro equipo de empleados con representacion en distintos
                  paises y con sede en Zaragoza (España), esta impulsado por el
                  compromiso con la innovacion, la excelencia opertiva y la
                  sostenibilidad. Ven a conocernos cuadro en azul.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div data-aos="fade-up" data-aos-duration="1500">
      <h3 class="center-text mt-4">Ingenieria Adaptada a sus necesidades</h3>
      </div>
      <!--Ingenieria Adaptada a sus necesidades-->
      <div class="caja2 centrado">
        <div data-aos="fade-up" data-aos-duration="1500">
          <img src="../static/media/problema.png" width="200" height="200" />
          <img src="../static/media/idea.png" width="200" height="200" />
          <img src="../static/media/solucion.png" width="200" height="200" />
        
          <img src="../static/media/integracion.png" width="200" height="200" />
        </div>
        
        <div class="caja2 centrado">
          <div data-aos="fade-up" data-aos-duration="1500">
            <img src="../static/media/automatizacion.png" width="200" height="200" />
            <img src="../static/media/soldadura.png" width="200" height="200" />
            <img src="../static/media/infraestructura.png" width="200" height="200" />
            
            <img src="../static/media/eficiencia.png" width="200" height="200" />
          </div>
      </div>
      <div class="caja1">
        <div data-aos="fade-up" data-aos-duration="1500">
          <div class="tree">
            <div class="image-background_soluciones_inicial">
              <h3>Soluciones</h3>
              Una empresa que nace de la experiencia de sus fundadores en el
              mundo industrial, nos avalan centenares de proyectos llaves en
              mano realizados en todo tipo de sectores e industria.
              <p></p>
              Este saber hacer, queríamos plasmarlo en un proyecto dinámico, el
              cual sirva para dar viabilidad a tantas inquietudes y necesidades
              como pueden surgir en el mundo industrial, todo ello bajo un
              enfoque de sotenibilidad y modernidad, siempre amparados en las
              nuevas tecnologías, con la más estrecha colaboración con el
              cliente final.
              <p></p>
              Esta entidad, con vocación únicamente industrial, completaba
              perfectamente la actividad histórica en “el campo de la
              infraestructura de la energía y la mecánica”. Este equipo funciona
              alrededor de unos valores en los que creemos fuertemente: Uno de
              estos valores es la competencia técnica del personal de nuestra
              empresa. Es un elemento esencial del servicio que os debemos. Es
              por eso que la mejora y desarrollo de nuestras competencias
              técnicas es una de nuestras prioridades. Otro de estos valores es
              la autonomía y polivalencia. Uno de los puntos fuertes de nuestra
              empresa es la autonomía del conjunto del personal, y la facilidad
              de adaptarse a distintos entornos.
              <p></p>
              No hay que olvidar el dinamismo. Este dinamismo se traduce por
              nuestra capacidad de reacción. Una empresa de nuestra talla se
              debe a las necesidades de sus clientes.
              <p></p>
              A todos estos valores añadiría la seguridad. Una empresa digna de
              este nombre, debe poner en marcha con sus empleados y clientes los
              medios para afianzar esta seguridad.
              <p></p>
            </div>
          </div>
        </div>
        <div data-aos="fade-up" data-aos-duration="1500">
          <div class="tree">
            <div class="image-background">
              <h3>Ingenieria</h3>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam
              vel quam in sapien imperdiet volutpat non eu quam. Sed elementum
              suscipit lacinia. Aenean vel ullamcorper libero, vel tempor dui.
              Quisque id pellentesque mi, et venenatis diam. Aenean at orci eu
              enim laoreet finibus in id mi. Duis pretium quis lorem at sodales.
              Donec semper magna tortor, non aliquet odio egestas lobortis.
              Vestibulum ante enim, pharetra at augue non, fringilla cursus
              urna. Aliquam congue accumsan diam. Phasellus eu commodo purus.
              Nunc placerat, enim sed sodales commodo, turpis est dignissim
              eros, at aliquam augue nisi sed urna. Duis ullamcorper blandit
              mauris, nec luctus risus venenatis et. Praesent maximus accumsan
              vestibulum.
            </div>
          </div>
        </div>
      </div>
      <div data-aos="fade-up" data-aos-duration="1500">
        <h3 class="center-text">Noticias</h3>
        <p></p>
        <div class="caja2 centrado">
          {% for noticia in noticias %}
          <div class="card m-2 mt-2" style="width: 18rem">
            <a
              href="{{url_for('noticias.readNoticia',noticia_id=noticia.0)}}"
              class="btn btn-proyectos"
            >
              <img
                src="
          ../static/pictures/news/{{noticia.4}}"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <p class="card-text">{{noticia.5}}</p>
              </div>
            </a>
          </div>
          {% endfor %}
        </div>
        <h3 class="center-text ml-10">Clientes principales</h3>
        <div data-aos="fade-up" data-aos-duration="2000">
          <div class="caja1">
            <div class="category">
              <div class="texto-vertical">automoción</div>
            </div>
            <div class="gallery">
              <div id="grises">
                <img src="../static/media/opel.png" width="100" height="100" />
                <img src="../static/media/seat.png" width="120" height="100" />
                <img
                  src="../static/media/renoutl.png"
                  width="110"
                  height="88"
                />
                <img
                  src="../static/media/mercedes.svg"
                  width="120"
                  height="100"
                />
                <img src="../static/media/nissan.png" width="100" height="90" />
                <img
                  src="../static/media/citroen.png"
                  width="120"
                  height="100"
                />
                <img
                  src="../static/media/volswange.png"
                  width="120"
                  height="100"
                />
                <img
                  src="../static/media/Fiat-logo.png"
                  width="120"
                  height="60"
                />
                <img src="../static/media/peugot.png" width="120" height="90" />
                <img src="../static/media/ford.png" width="120" height="45" />
              </div>
            </div>
          </div>
          <div class="caja1">
            <div class="category">
              <div class="texto-vertical">industria</div>
            </div>
            <div class="gallery">
              <div id="grises">
                <img src="../static/media/Dürr.png" width="100" height="60" />
                <img
                  src="../static/media/elecnor.png"
                  class="ms-2"
                  width="100"
                  height="60"
                />
                <img
                  src="../static/media/siemens.png"
                  width="120"
                  height="60"
                />
                <img src="../static/media/lear.png" width="100" height="60" />
                <img src="../static/media/fagor.png" width="120" height="60" />
                <img src="../static/media/bosh.png" width="120" height="40" />
                <img src="../static/media/caf.png" width="120" height="60" />
                <img
                  src="../static/media/johnson-controls.png"
                  width="120"
                  height="60"
                />
                <img src="../static/media/adif.png" width="120" height="60" />
                <img src="../static/media/bhs.png" width="120" height="60" />
                <img src="../static/media/krupp.png" width="120" height="60" />
                <img
                  src="../static/media/jordan-aragon.png"
                  width="120"
                  height="60"
                />
              </div>
            </div>
          </div>
          <div class="caja1">
            <div class="category">
              <div class="texto-vertical">logistica</div>
            </div>
            <div class="gallery">
              <div id="grises">
                <img src="../static/media/Amazon.png" width="140" height="50" />
                <img src="../static/media/leci.png" width="140" height="50" />
                <img src="../static/media/Sese.png" width="140" height="90" />
                <img src="../static/media/dpd.png" width="140" height="50" />
              </div>
            </div>
          </div>

          <div data-aos="fade-up" data-aos-duration="1500">
            <h3>Contacto</h3>
            {%include 'includes/contac.html' %} {# fin del centrado de pagina#}
          </div>
        </div>
      </div>
    </div>

    {% endblock %} {%block footer%} {%include 'includes/footer.html'%}
    {%endblock %}
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://code.jquery.com/jquery-3.6.0.slim.js"
      integrity="sha256-HwWONEZrpuoh951cQD1ov2HUK5zA5DwJ1DNUXaM6FsY="
      crossorigin="anonymous"
    ></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
  </body>
</html>
