<html>
  <head>
    <meta charset="UTF-8" />
    {#librerias de bootstrap #}
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <!-- JavaScript Bundle with Popper -->

    {#AOS libreria #}
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />

    {#css de estilo generales#}
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='css/header.css')}}"
    />
    <link
    rel="stylesheet"
    href="{{url_for('static',filename='css/contac.css')}}"
  />
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='css/linkheader.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='css/general.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='css/footer.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='css/navbar.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='css/fonts.css')}}"
    />
    {#para que se apdate mejor el responsive#}
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    {%block link%}
    {%endblock%}
  </head>
  <title>{%block title%}
  Becalplus {%endblock%}</title> 
 
  <body>
 
    {%block navBar%}
     {%include 'includes/navbar.html'%}
      {% endblock %} 
    {%block content %}
    
    
    {% endblock %} 
    {%block footer%} 
    {%include 'includes/footer2.html'%} 
    {%endblock %}
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://code.jquery.com/jquery-3.6.0.slim.js"
      integrity="sha256-HwWONEZrpuoh951cQD1ov2HUK5zA5DwJ1DNUXaM6FsY="
      crossorigin="anonymous"
    ></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
  </body>
</html>
