{%extends 'layout3.html' %}

<title>{%block title %}
login
{%endblock %}</title>
{%block link%}
<link
rel="stylesheet"
href="{{url_for('static',filename='css/login.css')}}"
/>
{%endblock %}
{%block content %}
<div id="contenedor">
  <div id="central">
      <div id="login">
        {% with messages=get_flashed_messages() %}
        {%if messages %}
        {%for message in messages%}
        <div class="alert alert-danger" role="alert">
          {{message}}
      </div>
      
        {%endfor %}
        {%endif %}
        {%endwith %}
          <div class="titulo" >
              Bienvenido
          </div>
          <form id="loginform" method="post">
              <input type="hidden" name=" csrf_token"  value="{{csrf_token()}}">
              <input type="text" name="usuario" placeholder="Usuario" required>
              
              <input type="password" placeholder="Contraseña" name="password" required>
              
              <button type="submit" title="Ingresar" name="Ingresar">Login</button>
          </form>
          <div class="pie-form">
              <a href="#">¿Perdiste tu contraseña?</a>
              <a href="#">¿No tienes Cuenta? Registrate</a>
          </div>
      </div>
      <div class="inferior">
          <a href="#">Volver</a>
      </div>
  </div>
</div>
    {% endblock %}