{%extends 'layout2.html' %}

<title>{%block title %}
Noticias
{%endblock %}</title>
{%block link %}
<link
      rel="stylesheet"
      href="{{url_for('static',filename='css/backend.css')}}"
    />
{%endblock %}
{%block content %}

    <h1>noticias</h1>
<div class="caja 1">

    <section id="layout">
    {% for noticia in noticias %}

    <div class="caja">
    <div class="card" style="width: 18rem;">
     
        <img  src="../static/pictures/news/{{noticia.4}}"  class="card-img-top"  alt="Card image"   width="500" height="250"  />
        <div class="card-body">
           
          <h5 class="card-title">{{noticia.1}}</h5>
          <p class="card-text">{{noticia.5}}</p>
          {{noticia.3}}
          <p>
          <a href="{{url_for('noticias.editNoticia',noticia_id=noticia.0)}}" class="btn btn-warning">Editar</a>
          <a href="{{url_for('noticias.deleteNoticia',noticia_id=noticia.0)}}" class="btn btn-danger">Eliminar</a>
          <a href="{{url_for('noticias.readNoticia',noticia_id=noticia.0)}}" class="btn btn-proyectos">leer</a>
        </div>
      </div>
    </div>
    {%  endfor %}

    </section>
    </div>
   
    {% endblock %}