{%extends 'layoutalter.html' %}

<title>{%block title %}
Novedades
{%endblock %}</title>
{%block link%}
<link
rel="stylesheet"
href="{{url_for('static',filename='css/card.css')}}"
/>
{%endblock %}
{%block content %}
<div class="caja2 centrado">
    {% for noticia in noticias %}
      <div class="card m-2" style="width: 18rem;">
        <a   href="{{url_for('noticias.readNoticia',noticia_id=noticia.0)}}" class="btn btn-proyectos">
        <img src="
        ../static/pictures/news/{{noticia.4}}" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">{{noticia.5}}</p>
        </div>
      </a>
      </div>
    {%  endfor %}
  </div>


    {% endblock %}