{%extends 'layout2.html' %}

{%block title %}

{%endblock %}

{%block content %}

<div id="clearfix"></div>
<div id="contenido">

  {% if persona %}
    <h1>editar personal</h1>
  {%else %}
  <h3>crear personal</h3>
  {% endif %}
  <form class="form-group" action="" method="post" enctype="multipart/form-data">
    <label for="nombre">nombre</label>
    <input type="hidden" name=" csrf_token"  value="{{csrf_token()}}">
    <input type="text" name="nombre" {%if persona %} value="{{persona.1}} {%endif%}"/>
    <label for="surname">apeliido</label>
    <input type="text" name="surname"{%if persona %} value="{{persona.2}} {%endif%}" />
    <label for="surname2"> segundo apellido</label>
    <input type="text" name="surname2"  {%if persona %}value="{{persona.3}} {%endif%}"/>
    <label for="puesto">puesto</label>
    <input type="text" name="puesto"  {%if persona %}value="{{persona.5}} {%endif%}"/>
    <label for="puesto">link de linkdin</label>
    <input type="text" name="link"  {%if persona %}value="{{persona.6}} {%endif%}"/>
    <input type="file" id="archivo" name="archivo" accept=".jpg .png" required>
    <button type="submit" class="btn btn-success">Enviar</button>
  </form>
    
</div>
{% endblock %}