{%extends 'layout2.html' %}

<title>{%block title %}
Plantilla
{%endblock %}</title>

{%block content %}

    <h1>personal</h1>
    {% for personal in people %}
    <div class="dato">
    {{personal.1}}
    {{personal.2}}
    <p>
    {{ personal.5 }}
    <p>
    <a href="{{url_for('plantilla.editPersonal',persona_id=personal.0)}}" class="btn btn-warning">Editar</a>
    <a href="{{url_for('plantilla.deletePersonal',persona_id=personal.0)}}" class="btn btn-danger">Eliminar</a>
    </div>
    {%  endfor %}
    {% endblock %}