<div class="caja 1">
  <section id="layout">
    
    {% for producto in productos %}
    <div class="caja">
      <div class="card" style="width: 18rem">
        <img
          src="../static/pictures/news/{{producto.2}}"
          class="card-img-top"
          alt="Card image"
          width="130"
          height="120"
        />
        <div class="card-body">
          <h5 class="card-title">{{producto.1}}</h5>
          <p class="card-text">{{producto.3}}</p>
          <p class="card-text">{{producto.4}}$</p>

          <p>
            <a
              href="{{url_for('productos.editProducto',producto_id=producto.0)}}"
              class="btn btn-warning"
              >Editar</a
            >
            <a
              href="{{url_for('productos.deleteProducto',producto_id=producto.0)}}"
              class="btn btn-danger"
              >Eliminar</a
            >
            <a
              href="{{url_for('productos.readProducto',producto_id=producto.0)}}"
              class="btn btn-primary"
              >leer</a
            >
          </p>
        </div>
      </div>
    </div>
    {% endfor %}
  </section>
</div>
