{%extends 'layout.html' %}

<title>{%block title %}
Quienes somos
{%endblock %}</title>
{%block link%}
<link
rel="stylesheet"
href="{{url_for('static',filename='css/card.css')}}"
/>
{%endblock %}

{%block content %}

<div class="caja2 centrado mt-10">
  
  {%for persona in people %}
    <!-- card -->
    
    <div class="card m-2 border-primary rounded bg-primary" style="width: 15rem" >
      <a href="{{persona.6}}" >
      <img
        src="../static/pictures/personal/{{persona.4}}"
        class="card-img-top"
        src="..."
        
      />
      <div class="card-body">
        <h5 class="card-title">{{persona.1}} {{persona.2}} {{persona.3}}</h5>
        <p class="card-text houndon">
          {{persona.5}} 
        </p>
        
       
        
      </div>
    </a>
    </div>

  {%endfor %}
  </div>


  <div id="content">
  <div id="clearfix"></div>
  <div id="contenido">
    <h3>Quienes somos</h3>
    <p></p>
    Ipsum ea suscipit facilisis voluptua sanctus feugiat amet sit magna tation
    eum justo dolor vel clita clita dolore stet. Magna ullamcorper velit ea
    takimata quod. Erat eos sanctus duo nonumy dolore tempor et amet invidunt
    elit et sanctus. Laoreet odio diam et labore placerat dolore dolore duo
    erat gubergren sit sea et rebum sadipscing at esse nobis. Ea accusam
    labore magna accusam rebum consectetuer. Ipsum at amet duo nibh sea in
    lorem augue lorem lobortis dolor ea volutpat eirmod. Duo aliquam hendrerit
    consetetur et tempor enim sea rebum minim id consequat erat. Quis lorem no
    takimata adipiscing elitr commodo ea clita eleifend dolore no aliquyam
    elitr ea option. Magna aliquip ut. Dolor takimata dolor ut vulputate
    dolore. Diam gubergren dolore diam sit duo lorem eirmod elitr. Invidunt
    doming labore dolor sea elitr clita sit consequat voluptua tincidunt duo.
    Duis lorem dolor et eros ipsum aliquyam erat. Magna sanctus clita dolores.
    Est sea dolore eirmod kasd nam ut amet sanctus sit kasd augue ea sed.
    Sadipscing at rebum lorem lorem ex diam lorem dolor tincidunt diam
    aliquam. Amet ea erat sed eos accumsan.
  </div>
</div>
    {% endblock %}