{%extends 'layout.html' %}

<title>{%block title %}
soluciones
{%endblock %}</title>
{%block link%}
<link
rel="stylesheet"
href="{{url_for('static',filename='css/card.css')}}"
/>
{%endblock %}
{% block cabecera%}
{%include
  'includes/slider3.html'%}
{%endblock %}
{%block content %}

<div class="caja2 centrado">
  <div id="content">
  <div id="clearfix"></div>
  <div id="contenido">

    {%include 'includes/productosf.html'%} 
    {%include 'includes/ingenieria.html'%} 
    {%include 'includes/montaje.html'%} 
  </div>
</div>

    {% endblock %}