{%extends 'layout.html' %}

<title>{%block title %} soluciones {%endblock %}</title>
{%block link%}
<link rel="stylesheet" href="{{url_for('static',filename='css/form.css')}}" />
{%endblock %} {%block cabecera %} 
{%endblock%} {%block content %}

<div class="caja2 centrado">
  <div id="content">
    <div id="clearfix"></div>
    <div id="contenido">
      {%with messages=get_flashed_messages() %}
         {%if messages%}
            {% for message in  messages%}
            <div  class="alert alert-success" role="alert">{{message}}</div>
               {%endfor %}
         {% endif %}
      {%endwith%}
      <section class="get-in-touch .bg-transparent">
        <h1 class="title">trabaja con nosotros</h1>
        <form  method="post" class="contact-form row">
         <input type="hidden" name=" csrf_token"  value="{{csrf_token()}}">
          <div class="form-field col-lg-6">
            <input id="name"  name="nombre" class="input-text js-input" type="text" required />
            <label class="label" for="name">nombre</label>
          </div>
          <div class="form-field col-lg-6">
            <input
            id="apellido"
              name="apellido"
              
              class="input-text js-input"
              type="text"
              required
            />
            <label class="label" for="company">apellido</label>
          </div>
          <div class="form-field col-lg-6">
            <input
            id="email"
            name="email"
              class="input-text js-input"
              type="email"
              required
            />
            <label class="label" for="email">E-mail</label>
          </div>

          <div class="form-field col-lg-6">
            <input
            id="telefono"
            name="telefono"
              class="input-text js-input"
              type="text"
              required
            />
            <label class="label" for="phone">telefono</label>
          </div>
          <div class="form-field col-lg-12">
            <input
               id="mensaje"
               name="mensaje"
              class="input-text js-input"
              type="text"
              required
            />
            <label class="label" for="message">mensaje</label>
          </div>
          <div class="form-field col-lg-12">
            <input class="submit-btn" type="submit" value="enviar" />
          </div>
        </form>
      </section>
    </div>
  </div>

  {% endblock %}
</div>
